*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark: #181824;
    --white: #FFFFFF;
    --gray: #BDBDBD;
    --primary: #7562E0;
    --accent: #1A1A29;
}

/* 
poppins-medium: 500
poppins-semibold: 600 
*/

body{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: var(--dark);
    color: #FFFFFF;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 19px;
}

.logo{
    font-size: 28px;
    color: var(--primary);
}

.nav__header{
    display: flex;
    gap: 52px;
}

.nav__link{
    font-size: 18px;
    color: var(--white);
}

.nav__link:hover{
    color: var(--primary);
}

.accent{
    background-color: var(--accent);
    overflow: hidden;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 194px;
}

.main__desc{
    display: flex;
    flex-direction: column;
    max-width: 432px;
    margin-top: 110px;
}

.text__desc{
    font-size: 32px;
}

.h1__desc{
    font-size: 52px;
    color: #F5F5F5;
    margin: 6px auto 12px;
}

.title__desc{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
}

.btn__desc{
    display: flex;
    align-items: center;
    gap: 32px;
}

.btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 25px;
    border-radius: 8px;

    font-size: 16px;
    color: var(--white);
}

.primary__btn{
    background-color: var(--primary);
} 

.tr__btn{
    border: 2px solid var(--primary);
}

.primary__btn._icon::after{
    content: "";
    background-image: url("/assets/images/user.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.tr__btn._icon::after{
    content: "";
    background-image: url("/assets/images/eye.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.portrain__designer-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 444px;
    height: 444px;
    margin-top: 117px;
}

.portrain__designer-wrapper::before {
    content: "";
    position: absolute;
    top: 63px;
    left: -30px;
    width: 486px;
    height: 486px;
    background-image: url('/assets/images/Ellipse.svg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.portrain__designer-wrapper::after {
    content: "";
    position: absolute;
    top: 117px;
    left: 284px;
    width: 12px;
    height: 22px;
    background-image: url('/assets/images/Vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.portrain__designer {
    position: relative;
    display: block; 
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section__about-me{
    margin-top: 128px;
    background-color: var(--accent);
    padding-top: 55px;
}

.h2__title{
    font-size: 32px;
    color: var(--primary);
}

.about-me__title{
    max-width: 1032px;
    padding-top: 10px;
    margin-bottom: 0;
}

.skill__title{
    display: flex;
    align-items: center;
    gap: 22px;
}

.skill__score{
    font-size: 96px;
    color: var(--primary);
}

.skill__text{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.hard-skills__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
}

.hard-skill{
    width: 254px;
    height: 254px;
    padding: 97px 0 24px 24px;
    background-color: var(--gray);
}

.section__services{
    padding-top: 80px;
}

.active__block{
    background-color: var(--primary);
}

.hard-skill__img{
    width: 52px;
    height: 52px;
}

.hard-skill__title{
    font-size: 24px;
    line-height: 36px;
    padding: 8px 0 16px;
}

.services__block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    margin-top: 32px;
}

.hard-skill__service{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 340px;
    border: 3px solid var(--primary);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    border-radius: 16px;
    padding-top: 75px;
}

.hard-skill__service:nth-child(even){
    border: 3px solid var(--gray);
    color: var(--primary);
}

.service__title{
    max-width: 296px;
    text-align: center;
    color: var(--white);
    font-size: 17px;
}





@media (max-width: 1110px){
    .main{
        flex-direction: column;
        gap: 76px;
    }

    .main__desc {
        margin-top: 60px;
    }

    .portrain__designer-wrapper{
        margin-top: 0;
    }
}





















